<!DOCTYPE html>
<html>
  <head>
    <title>Airclipp | 404 Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/vendor/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/css/vendor/animate.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  </head>
  <body>

    <div class="header">
      <div class="row">
        <div class="container">
          <div class="span10 offset1">

            <!-- Universal Nav -->

            <div class="row">
              <div class="animated fadeInDown">
                <center><a href="/"><img src="img/logo.png" width="100"></a></center>
              </div>
              <div>
                <!-- <center><a href="/logout"><p style="padding-top:20px;">Sign out</p></a></center> -->
              </div>
            </div>

            <!-- End Universal Nav -->

            <div class="options">
              <div class="row">
                <div class="span10">
            	  <!-- <form class="searchFiles hidden-phone">
		            <input class="searchbox" type="text" placeholder="Search..." />
		          </form>
		          <form class="searchFiles visible-phone">
		            <input class="searchbox" type="text" placeholder="Search..." />
		          </form> -->
              <br>
            	  <div class="files">
            	  	<br>
			            <center><h3><%= error %></h3></center>
                  <br>
            	  </div>
                </div>
              </div>
            </div>

            <br><center><p id="copyright">&copy; 2013 Airclipp</p></center>

          </div>
        </div>  
      </div>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/js/vendor/jquery.simple-text-rotator.min.js"></script>
    <script src="/js/vendor/jquery.age.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
  </body>
</html>

