<a href="http://attosoft.com/airclipp"><img src="http://i.imgur.com/lv6AHSD.png" width="60" /></a>
<p class="welcome">Welcome to Airclipp, <%= name %></p>
<p>We like to keep messages short and sweet. Enjoy our location based file sharing services and tell your friends.</p>
<p>Oh, and reply to get a free tshirt and stickers mailed to you (if you are within the United States, sorry international folks).</p>
<p class="small">Much love, the Airclipp team</p>
